body {
  outline: 1px solid blue;
  width: 99%;
}

nav {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
  position: fixed;
}

ul {
  list-style-type: none;
}

button {
  padding: 10px;
  background-color: #E06C75;
  color: white;
  margin: 20px 0px;
}

.earth {
  outline: 1px solid green;
  width: 60%;
  float: right;
  margin-right: 10px;
}

.earth img {
  max-width: 100%;
  max-height: 100%
}
