* {
  margin:0;
  padding:0;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  font-style:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}

body {
  background-color: #b2d1c5;
  width: 99%;
}

#button_images {
  position: absolute;
  top: 10px;
  left: 10px;
}

ul {
  list-style-type: none;
}

li.images {
  width:250px;
  position:relative;
}

li.images img {
  max-width:100%;
  max-height: 100%;
}

li.images button {
  background-color: #E06C75;
  font-family: 'Candal',sans-serif;
  margin-left: 5px;
  color: #282c54;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px;
  position:absolute;
  left:0;
  top:0;
  width:90%;
  height:98.3%;
  opacity:0;
  box-shadow: 0px 0px 10px #E06C00;
  transition: left 0.5s, opacity 0.5s;
}

li.images:hover button {
  left:100%;
  opacity:1;
}

.aboutme {
  background-color: #282c34;
  width: 60%;
  float: right;
}

.aboutme img {
  display: block;
  box-shadow: 0px 0px 100px 25px #e0c983;
  border-radius: 50%;
  max-width: 75%;
  max-height: 75%;
  margin: 20px auto;
}

.aboutme section {
  text-align: left;
  margin-left: 25px;
}

.aboutme p {
  font-family: "Source Sans Pro",sans-serif;
  margin: 10px 0;
  color: #d9d7d9;
}

h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'PT Sans',sans-serif;
}

/*.earth {
  outline: 1px solid green;
  width: 60%;
  float: right;
  margin-right: 10px;
}

.earth img {
  max-width: 100%;
  max-height: 100%
}*/

@media all and (max-width: 700px) {
  * {
    margin:0;
    padding:0;
    border:0;
    font-size:inherit;
    font-weight:inherit;
    font-family:inherit;
    font-style:inherit;
    text-decoration:inherit;
    line-height:inherit;
    color:inherit;
  }
   #button_images {
     height: 100%;
     width: 100%;
     position: relative;
  }
  .aboutme {
    margin: 20px auto;
    width: 100%;
    float: none;
    padding:0;
    border: 0;
  }

  li.images button {
    background-color: #E06C75;
    font-family: 'Candal',sans-serif;
    color: #282c54;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    visibility: hidden;
    box-shadow: 0px 0px 10px #E06C00;
    transition: center 0.5s, opacity 0.5s;
  }

  li.images:hover {
    opacity: 0;
  }

  li.images:hover button {
    visibility: visible;
  }
}
