div {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-image: url("dave.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.selfpic img:hover {
  opacity: 0;
}
